In [24]:
import sys
import csv
import json
import requests
import requests_cache
import numpy as np
import pandas as pd
from yahoo_finance import Share
from pprint import pprint 
from datetime import datetime
import matplotlib.pyplot as plt

In [6]:
# WEI -- look at Audrey's myget()

# this is a function to get the most recent n days recorded from a given company code
def myget(length, code):
    comp = Share(code)
    try:
        c = comp.get_historical('2000-11-03', '2001-01-28')
        report = []
        for i in range(0,length):
            dat = {'Symbol':c[i]['Symbol'],c[i]['Date']:float(c[i]['High'])} 
            report.append(dat)
        df = pd.DataFrame(report)
        df = df.replace(np.nan, 0).groupby('Symbol').sum()
    except YQLResponseMalformedError():
        df = None
    return df

In [7]:
# JEREMY -- look at Audrey's myget()

# this is a function to get the most recent n days recorded from a given company code
def myget(length, code):
    comp = Share(code)
    c = comp.get_historical('2014-11-03', '2015-01-28')
    report = []
    for i in range(0,length):
        dat = {'Symbol':c[i]['Symbol'],c[i]['Date']:float(c[i]['High'])} 
        report.append(dat)
        df = pd.DataFrame(report)
        df = df.replace(np.nan, 0).groupby('Symbol').sum()
    return df

In [8]:
# AUDREY

def myget(length, ticker):
    
    """
    Input: Amount of days of historical data, Ticker symbol for company
    Output: Df of high prices with respective dates as column value    
    """    
    
    report = []
    
    comp = Share(ticker)
    
    # Request historical dates, create df using dictionary keys
    try:
        c = comp.get_historical('2000-11-03', '2001-01-28')
        
        for i in range(0,length):
            dat = {'Symbol':c[i]['Symbol'],c[i]['Date']:float(c[i]['High'])} 
            report.append(dat)
            df = pd.DataFrame(report)
            df = df.replace(np.nan, 0).groupby('Symbol').sum().reset_index()
    
    # Return nothing for companies that are not IPO in given date range
    except Exception:
        df = None
        
    return df

In [9]:
csv = pd.read_csv('./companylist.csv')
# We want to keep "Finance, Health Care, Technology, Energy"
newcsv = csv[csv["Sector"].isin(["Finance", "Energy","Health Care","Technology"])]

In [10]:
final = newcsv.reset_index()
del final["index"]

In [11]:
sector = final[['Symbol','Sector']]

In [12]:
mylist = [final.loc[i,'Symbol'] for i in range(len(final))]

In [13]:
# Test with first 40 for time reasons (let's figure out a way to run this more quickly)
audrey_list = mylist[0:39]

In [14]:
df=[]
del df 
for l in audrey_list:
    get = myget(10,l)
    try:
        df = df.append(get)
    except NameError:
        df = pd.DataFrame(get)
# df

In [15]:
# Add in Sector (to later take avrg of)
# Of tested 40, we get 14 back.
#
# Will this be a issue? Of our 1774.. how many actually satisfy our time desired time range?
#
data2 = df.reset_index()
final = pd.merge(data2, sector, on = 'Symbol')
final = final.drop('index', 1)
final

,Symbol,2001-01-12,2001-01-16,2001-01-17,2001-01-18,2001-01-19,2001-01-22,2001-01-23,2001-01-24,2001-01-25,2001-01-26,Sector
0,FCCY,11.499999,10.500001,11.249990,12.374993,13.249987,14.000014,13.750005,14.000014,13.625000,13.750005,Finance
1,SRCE,20.437506,20.500003,20.874995,20.781245,20.531245,20.000002,20.124997,20.374996,20.374996,20.000002,Finance
2,ABEO,5.125000,5.500000,5.312500,5.125000,5.125000,5.187500,5.125000,5.937500,6.500000,6.375000,Health Care
3,ABMD,20.312500,23.375000,23.000000,23.000000,22.437500,21.250000,20.375000,20.375000,19.328119,19.375000,Health Care
4,AXAS,3.750000,3.875000,4.375000,4.000000,4.125000,5.000000,4.687500,4.875000,5.000000,5.062500,Energy
5,ACHC,0.250000,0.265625,0.296875,0.296875,0.296875,0.296875,0.296875,0.375000,0.390625,0.609375,Health Care
6,ACET,8.968758,9.000012,9.000012,9.000012,8.937506,9.000012,9.000012,8.812496,8.812496,8.812496,Health Care
7,ACIW,13.562500,13.625000,13.812500,14.062500,13.984300,12.000000,11.875000,11.937500,11.625000,11.562500,Technology
8,ACNB,16.500003,16.250001,16.749996,16.625004,16.500003,16.625004,16.500003,16.625004,16.500003,16.625004,Finance
9,ATVI,18.187500,18.500000,18.562500,18.437500,18.500000,18.500000,18.875000,18.687500,18.500000,18.625000,Technology
10,ACTA,5.656250,5.500000,6.062500,5.687500,5.312500,5.187500,5.968750,6.781250,6.312500,6.000000,Technology
11,ACXM,32.625000,30.750000,32.062500,32.062500,31.750000,34.500000,35.000000,33.875000,33.437500,32.750000,Technology
12,ADMP,6.124633,5.999640,5.999640,5.749655,5.499670,5.499670,6.249625,6.937084,6.905836,7.374558,Health Care
13,ADBE,52.562500,52.687500,54.875000,58.375000,60.000000,61.625000,60.000000,60.437500,59.750000,59.000000,Technology

In [71]:
# Playing around with sample subset data to see how plotting will work.
# Will need to convert column headers to datetime to implement timeseries plot 
# Bc not sure if standard line plot will work if we want to use ARMA models
# or forecasting later on.
#
# Let's try this?
# http://www.blackarbs.com/blog/advanced-time-series-plots-in-python/1/6/2017


avg_sector = final.groupby('Sector').mean().reset_index()

eng = avg_sector[avg_sector['Sector'] == 'Energy']
fin = avg_sector[avg_sector['Sector'] == 'Finance']
health = avg_sector[avg_sector['Sector'] == 'Health Care']
tech = avg_sector[avg_sector['Sector'] == 'Technology']

avg_sector

,Sector,2001-01-12,2001-01-16,2001-01-17,2001-01-18,2001-01-19,2001-01-22,2001-01-23,2001-01-24,2001-01-25,2001-01-26
0,Energy,3.750000,3.875000,4.375000,4.000000,4.125000,5.000000,4.687500,4.875000,5.000000,5.062500
1,Finance,16.145836,15.750002,16.291660,16.593747,16.760412,16.875007,16.791668,17.000005,16.833333,16.791670
2,Health Care,8.156178,8.828055,8.721805,8.634308,8.459310,8.246811,8.209302,8.487416,8.387415,8.509286
3,Technology,24.518750,24.212500,25.075000,25.725000,25.909360,26.362500,26.343750,26.343750,25.925000,25.587500

In [69]:
prices = avg_sector.iloc[:,1:11]

In [60]:
date = list(prices.columns.values)

In [61]:
dates = [pd.to_datetime(date[x]) for x in range(0,len(date))]
dates

[Timestamp('2001-01-12 00:00:00'),
 Timestamp('2001-01-16 00:00:00'),
 Timestamp('2001-01-17 00:00:00'),
 Timestamp('2001-01-18 00:00:00'),
 Timestamp('2001-01-19 00:00:00'),
 Timestamp('2001-01-22 00:00:00'),
 Timestamp('2001-01-23 00:00:00'),
 Timestamp('2001-01-24 00:00:00'),
 Timestamp('2001-01-25 00:00:00'),
 Timestamp('2001-01-26 00:00:00')]

In [28]:
# data[plot_cols].plot(subplots=True, ax=axes)

datetime.datetime(2005, 6, 1, 13, 33)

In [ ]:
# yhoo= myget(10, 'TWOU')
# yhoo
# tr = Share('VNET')
# try:
#    tr.get_historical('2000-11-03', '2001-01-28')
# except Exception:
#    pass

In [98]:
csv = pd.read_csv('./companylist.csv')

In [ ]:
sym = csv

In [6]:
def lookup(jurisdiction, number):
    url = 'http://api.opencorporates.com/companies/' + jurisdiction + '/' + number
    response = requests.get(url)
    if response.status_code == 200:
        data = json.loads(response.text)
        company = data['results']['company']
        return {
            'name': company['name'],
            'type': company['company_type'],
            'incorporated': company['incorporation_date'],
            'address': company['registered_address_in_full']
        }
    else:
        print('Error: ' + str(response.status_code))

In [7]:
print(lookup(sys.argv[1], sys.argv[2]))

Error: 404
None

In [9]:
sys.argv

['/Users/audreychu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py',
 '-f',
 '/Users/audreychu/Library/Jupyter/runtime/kernel-2a43a2c9-8519-458f-990a-ad9d9651c8a6.json']

In [91]:
comp = Share('YHOO')

In [93]:
report = []

c = comp.get_historical('2000-11-03', '2001-01-28')
        
for i in range(0,10):
    dat = {'Symbol':c[i]['Symbol'],c[i]['Date']:float(c[i]['High']),'Sector':c[i]['Sector']} 
    report.append(dat)
    df = pd.DataFrame(report)
    df = df.replace(np.nan, 0).groupby('Symbol').sum()

KeyError: 'Sector'

In [94]:
comp.get_historical('2000-11-03', '2001-01-28')

[{'Adj_Close': '18.84375',
  'Close': '37.6875',
  'Date': '2001-01-26',
  'High': '38.625',
  'Low': '36.125',
  'Open': '37.625',
  'Symbol': 'YHOO',
  'Volume': '24462600'},
 {'Adj_Close': '19.59375',
  'Close': '39.1875',
  'Date': '2001-01-25',
  'High': '42.8125',
  'Low': '38.5625',
  'Open': '41.875',
  'Symbol': 'YHOO',
  'Volume': '44249200'},
 {'Adj_Close': '21.4375',
  'Close': '42.875',
  'Date': '2001-01-24',
  'High': '43.375',
  'Low': '38.00',
  'Open': '38.3125',
  'Symbol': 'YHOO',
  'Volume': '57294800'},
 {'Adj_Close': '19.476549',
  'Close': '38.953098',
  'Date': '2001-01-23',
  'High': '39.00',
  'Low': '34.1875',
  'Open': '34.4375',
  'Symbol': 'YHOO',
  'Volume': '34783200'},
 {'Adj_Close': '17.34375',
  'Close': '34.6875',
  'Date': '2001-01-22',
  'High': '35.75',
  'Low': '32.5625',
  'Open': '33.3125',
  'Symbol': 'YHOO',
  'Volume': '25512600'},
 {'Adj_Close': '16.90625',
  'Close': '33.8125',
  'Date': '2001-01-19',
  'High': '36.0625',
  'Low': '32.5625',
  'Open': '36.00',
  'Symbol': 'YHOO',
  'Volume': '40979800'},
 {'Adj_Close': '17.21875',
  'Close': '34.4375',
  'Date': '2001-01-18',
  'High': '34.75',
  'Low': '29.6875',
  'Open': '31.00',
  'Symbol': 'YHOO',
  'Volume': '57925400'},
 {'Adj_Close': '15.125',
  'Close': '30.25',
  'Date': '2001-01-17',
  'High': '31.75',
  'Low': '27.9375',
  'Open': '28.625',
  'Symbol': 'YHOO',
  'Volume': '66939000'},
 {'Adj_Close': '13.6875',
  'Close': '27.375',
  'Date': '2001-01-16',
  'High': '28.4375',
  'Low': '26.625',
  'Open': '27.00',
  'Symbol': 'YHOO',
  'Volume': '32059000'},
 {'Adj_Close': '13.28125',
  'Close': '26.5625',
  'Date': '2001-01-12',
  'High': '26.875',
  'Low': '25.0625',
  'Open': '26.0625',
  'Symbol': 'YHOO',
  'Volume': '50575600'},
 {'Adj_Close': '12.9375',
  'Close': '25.875',
  'Date': '2001-01-11',
  'High': '26.625',
  'Low': '24.125',
  'Open': '24.421801',
  'Symbol': 'YHOO',
  'Volume': '132926800'},
 {'Adj_Close': '15.25',
  'Close': '30.50',
  'Date': '2001-01-10',
  'High': '31.25',
  'Low': '27.875',
  'Open': '29.3125',
  'Symbol': 'YHOO',
  'Volume': '54304200'},
 {'Adj_Close': '15.0625',
  'Close': '30.125',
  'Date': '2001-01-09',
  'High': '30.5625',
  'Low': '26.00',
  'Open': '26.5625',
  'Symbol': 'YHOO',
  'Volume': '43097200'},
 {'Adj_Close': '13.59375',
  'Close': '27.1875',
  'Date': '2001-01-08',
  'High': '27.50',
  'Low': '25.375',
  'Open': '27.375',
  'Symbol': 'YHOO',
  'Volume': '26165200'},
 {'Adj_Close': '14.25',
  'Close': '28.50',
  'Date': '2001-01-05',
  'High': '31.375',
  'Low': '27.875',
  'Open': '29.375',
  'Symbol': 'YHOO',
  'Volume': '26867400'},
 {'Adj_Close': '14.78125',
  'Close': '29.5625',
  'Date': '2001-01-04',
  'High': '32.1875',
  'Low': '29.4375',
  'Open': '29.859301',
  'Symbol': 'YHOO',
  'Volume': '35051800'},
 {'Adj_Close': '15.46875',
  'Close': '30.9375',
  'Date': '2001-01-03',
  'High': '32.5625',
  'Low': '25.984301',
  'Open': '27.75',
  'Symbol': 'YHOO',
  'Volume': '49936600'},
 {'Adj_Close': '14.09375',
  'Close': '28.1875',
  'Date': '2001-01-02',
  'High': '30.375',
  'Low': '27.50',
  'Open': '30.3125',
  'Symbol': 'YHOO',
  'Volume': '21939200'},
 {'Adj_Close': '15.03125',
  'Close': '30.0625',
  'Date': '2000-12-29',
  'High': '31.1875',
  'Low': '29.5625',
  'Open': '30.3125',
  'Symbol': 'YHOO',
  'Volume': '20893400'},
 {'Adj_Close': '15.50',
  'Close': '31.00',
  'Date': '2000-12-28',
  'High': '31.75',
  'Low': '29.125',
  'Open': '29.4375',
  'Symbol': 'YHOO',
  'Volume': '24374600'},
 {'Adj_Close': '14.875',
  'Close': '29.75',
  'Date': '2000-12-27',
  'High': '31.50',
  'Low': '29.125',
  'Open': '31.00',
  'Symbol': 'YHOO',
  'Volume': '22045400'},
 {'Adj_Close': '15.59375',
  'Close': '31.1875',
  'Date': '2000-12-26',
  'High': '34.00',
  'Low': '30.125',
  'Open': '32.00',
  'Symbol': 'YHOO',
  'Volume': '37536200'},
 {'Adj_Close': '14.78125',
  'Close': '29.5625',
  'Date': '2000-12-22',
  'High': '29.875',
  'Low': '26.0625',
  'Open': '26.4375',
  'Symbol': 'YHOO',
  'Volume': '28347400'},
 {'Adj_Close': '12.8125',
  'Close': '25.625',
  'Date': '2000-12-21',
  'High': '28.25',
  'Low': '25.0625',
  'Open': '26.75',
  'Symbol': 'YHOO',
  'Volume': '27794400'},
 {'Adj_Close': '13.96875',
  'Close': '27.9375',
  'Date': '2000-12-20',
  'High': '28.375',
  'Low': '25.50',
  'Open': '25.8125',
  'Symbol': 'YHOO',
  'Volume': '44862800'},
 {'Adj_Close': '14.00',
  'Close': '28.00',
  'Date': '2000-12-19',
  'High': '31.9687',
  'Low': '28.00',
  'Open': '30.5625',
  'Symbol': 'YHOO',
  'Volume': '36131600'},
 {'Adj_Close': '16.00',
  'Close': '32.00',
  'Date': '2000-12-18',
  'High': '34.00',
  'Low': '30.25',
  'Open': '33.875',
  'Symbol': 'YHOO',
  'Volume': '31697600'},
 {'Adj_Close': '16.50',
  'Close': '33.00',
  'Date': '2000-12-15',
  'High': '34.00',
  'Low': '31.0625',
  'Open': '32.00',
  'Symbol': 'YHOO',
  'Volume': '40448000'},
 {'Adj_Close': '16.00',
  'Close': '32.00',
  'Date': '2000-12-14',
  'High': '35.9062',
  'Low': '31.9375',
  'Open': '35.3125',
  'Symbol': 'YHOO',
  'Volume': '20899800'},
 {'Adj_Close': '17.4375',
  'Close': '34.875',
  'Date': '2000-12-13',
  'High': '38.625',
  'Low': '34.25',
  'Open': '38.3125',
  'Symbol': 'YHOO',
  'Volume': '33640400'},
 {'Adj_Close': '17.90625',
  'Close': '35.8125',
  'Date': '2000-12-12',
  'High': '39.50',
  'Low': '32.9375',
  'Open': '33.25',
  'Symbol': 'YHOO',
  'Volume': '79275800'},
 {'Adj_Close': '16.9375',
  'Close': '33.875',
  'Date': '2000-12-11',
  'High': '37.0625',
  'Low': '30.625',
  'Open': '33.625',
  'Symbol': 'YHOO',
  'Volume': '71038800'},
 {'Adj_Close': '17.46875',
  'Close': '34.9375',
  'Date': '2000-12-08',
  'High': '37.125',
  'Low': '32.125',
  'Open': '37.125',
  'Symbol': 'YHOO',
  'Volume': '49184000'},
 {'Adj_Close': '17.46875',
  'Close': '34.9375',
  'Date': '2000-12-07',
  'High': '36.2187',
  'Low': '31.50',
  'Open': '36.0625',
  'Symbol': 'YHOO',
  'Volume': '55136200'},
 {'Adj_Close': '18.75',
  'Close': '37.50',
  'Date': '2000-12-06',
  'High': '42.9375',
  'Low': '37.125',
  'Open': '41.625',
  'Symbol': 'YHOO',
  'Volume': '32559800'},
 {'Adj_Close': '21.9375',
  'Close': '43.875',
  'Date': '2000-12-05',
  'High': '44.00',
  'Low': '39.3125',
  'Open': '39.6875',
  'Symbol': 'YHOO',
  'Volume': '30714800'},
 {'Adj_Close': '18.96875',
  'Close': '37.9375',
  'Date': '2000-12-04',
  'High': '39.3125',
  'Low': '36.1875',
  'Open': '38.4375',
  'Symbol': 'YHOO',
  'Volume': '29997600'},
 {'Adj_Close': '19.46875',
  'Close': '38.9375',
  'Date': '2000-12-01',
  'High': '41.125',
  'Low': '36.375',
  'Open': '38.8125',
  'Symbol': 'YHOO',
  'Volume': '40172600'},
 {'Adj_Close': '19.8125',
  'Close': '39.625',
  'Date': '2000-11-30',
  'High': '39.625',
  'Low': '35.1875',
  'Open': '37.5937',
  'Symbol': 'YHOO',
  'Volume': '33938200'},
 {'Adj_Close': '19.53125',
  'Close': '39.0625',
  'Date': '2000-11-29',
  'High': '39.25',
  'Low': '35.6875',
  'Open': '37.140598',
  'Symbol': 'YHOO',
  'Volume': '35039400'},
 {'Adj_Close': '18.48435',
  'Close': '36.9687',
  'Date': '2000-11-28',
  'High': '40.50',
  'Low': '35.75',
  'Open': '39.9375',
  'Symbol': 'YHOO',
  'Volume': '29390800'},
 {'Adj_Close': '20.0625',
  'Close': '40.125',
  'Date': '2000-11-27',
  'High': '45.00',
  'Low': '40.00',
  'Open': '43.734299',
  'Symbol': 'YHOO',
  'Volume': '24838400'},
 {'Adj_Close': '20.4375',
  'Close': '40.875',
  'Date': '2000-11-24',
  'High': '42.25',
  'Low': '39.375',
  'Open': '40.25',
  'Symbol': 'YHOO',
  'Volume': '19702400'},
 {'Adj_Close': '19.09375',
  'Close': '38.1875',
  'Date': '2000-11-22',
  'High': '43.00',
  'Low': '38.0625',
  'Open': '40.375',
  'Symbol': 'YHOO',
  'Volume': '43183200'},
 {'Adj_Close': '20.84375',
  'Close': '41.6875',
  'Date': '2000-11-21',
  'High': '48.00',
  'Low': '40.5625',
  'Open': '47.00',
  'Symbol': 'YHOO',
  'Volume': '49950200'},
 {'Adj_Close': '24.4375',
  'Close': '48.875',
  'Date': '2000-11-20',
  'High': '51.375',
  'Low': '47.875',
  'Open': '50.375',
  'Symbol': 'YHOO',
  'Volume': '18448400'},
 {'Adj_Close': '25.625',
  'Close': '51.25',
  'Date': '2000-11-17',
  'High': '55.50',
  'Low': '50.00',
  'Open': '52.203098',
  'Symbol': 'YHOO',
  'Volume': '21516400'},
 {'Adj_Close': '26.46875',
  'Close': '52.9375',
  'Date': '2000-11-16',
  'High': '56.50',
  'Low': '52.625',
  'Open': '55.00',
  'Symbol': 'YHOO',
  'Volume': '13573000'},
 {'Adj_Close': '28.5625',
  'Close': '57.125',
  'Date': '2000-11-15',
  'High': '60.00',
  'Low': '54.75',
  'Open': '58.25',
  'Symbol': 'YHOO',
  'Volume': '16191200'},
 {'Adj_Close': '29.71875',
  'Close': '59.4375',
  'Date': '2000-11-14',
  'High': '59.50',
  'Low': '55.50',
  'Open': '57.6875',
  'Symbol': 'YHOO',
  'Volume': '13959400'},
 {'Adj_Close': '27.65625',
  'Close': '55.3125',
  'Date': '2000-11-13',
  'High': '59.125',
  'Low': '52.00',
  'Open': '54.8125',
  'Symbol': 'YHOO',
  'Volume': '19343200'},
 {'Adj_Close': '28.21875',
  'Close': '56.4375',
  'Date': '2000-11-10',
  'High': '61.75',
  'Low': '56.125',
  'Open': '57.8125',
  'Symbol': 'YHOO',
  'Volume': '19196200'},
 {'Adj_Close': '29.40625',
  'Close': '58.8125',
  'Date': '2000-11-09',
  'High': '62.875',
  'Low': '56.50',
  'Open': '60.859299',
  'Symbol': 'YHOO',
  'Volume': '26721000'},
 {'Adj_Close': '32.50',
  'Close': '65.00',
  'Date': '2000-11-08',
  'High': '70.625',
  'Low': '64.9375',
  'Open': '69.25',
  'Symbol': 'YHOO',
  'Volume': '16011400'},
 {'Adj_Close': '34.25',
  'Close': '68.50',
  'Date': '2000-11-07',
  'High': '69.125',
  'Low': '63.625',
  'Open': '65.9375',
  'Symbol': 'YHOO',
  'Volume': '13889800'},
 {'Adj_Close': '32.8125',
  'Close': '65.625',
  'Date': '2000-11-06',
  'High': '70.4375',
  'Low': '65.375',
  'Open': '70.25',
  'Symbol': 'YHOO',
  'Volume': '14251200'},
 {'Adj_Close': '34.375',
  'Close': '68.75',
  'Date': '2000-11-03',
  'High': '70.5625',
  'Low': '66.625',
  'Open': '69.375',
  'Symbol': 'YHOO',
  'Volume': '20381800'}]