## This is hopefully a page to port our query yahoo finance with requests

We're gonna recreate functionality from these two files with requests to cache and hopefully deal with NA's.
https://github.com/lukaszbanasiak/yahoo-finance/tree/master/yahoo_finance

In [4]:
import requests
import requests_cache
import pandas as pd

In [5]:
requests_cache.install_cache('rcache')

In [6]:
# Yahoo! YQL API
PUBLIC_API_URL = 'https://query.yahooapis.com/v1/public/yql'
OAUTH_API_URL = 'https://query.yahooapis.com/v1/yql'
DATATABLES_URL = 'store://datatables.org/alltableswithkeys'

### Hey Audrey you can screencap the below cell and it's output if you want for the presentation

In [7]:
samplereq = requests.get('https://query.yahooapis.com/v1/public/yql', params = {
        'format':'json',
        'env':'store://datatables.org/alltableswithkeys',
        'q':'select * from yaho.finance.historicaldata where symbol = "{}" and startDate = "{}" and endDate = "{}"'.format('YHOO', '2009-09-11', '2010-03-10')
    })
samplereq.url

u'https://query.yahooapis.com/v1/public/yql?env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&format=json&q=select+%2A+from+yaho.finance.historicaldata+where+symbol+%3D+%22YHOO%22+and+startDate+%3D+%222009-09-11%22+and+endDate+%3D+%222010-03-10%22'

In [8]:
'''
# example of the code from yahoo financefunction
# this will ideally be the part replicated with reqeusts

class YQLQuery(object):

    def execute(self, yql, token=None):
        req = urlopen(PUBLIC_API_URL + '?' + urlencode({
            'q': yql,
            'format': 'json',
            'env': DATATABLES_URL
        }))
        return loads(req.read())
'''

"\n# example of the code from yahoo financefunction\n# this will ideally be the part replicated with reqeusts\n\nclass YQLQuery(object):\n\n    def execute(self, yql, token=None):\n        req = urlopen(PUBLIC_API_URL + '?' + urlencode({\n            'q': yql,\n            'format': 'json',\n            'env': DATATABLES_URL\n        }))\n        return loads(req.read())\n"

In [9]:
'''
# This is the part of the query returning 
    def get_historical(self, start_date, end_date):
        """
        Get Yahoo Finance Stock historical prices
        :param start_date: string date in format '2009-09-11'
        :param end_date: string date in format '2009-09-11'
        :return: list
        """
        hist = []
        for s, e in get_date_range(start_date, end_date):
            try:
                query = self._prepare_query(table='historicaldata', startDate=s, endDate=e)
                result = self._request(query)
                if isinstance(result, dict):
                    result = [result]
                hist.extend(result)
            except AttributeError:
                pass
        return hist
'''

'\n# This is the part of the query returning \n    def get_historical(self, start_date, end_date):\n        """\n        Get Yahoo Finance Stock historical prices\n        :param start_date: string date in format \'2009-09-11\'\n        :param end_date: string date in format \'2009-09-11\'\n        :return: list\n        """\n        hist = []\n        for s, e in get_date_range(start_date, end_date):\n            try:\n                query = self._prepare_query(table=\'historicaldata\', startDate=s, endDate=e)\n                result = self._request(query)\n                if isinstance(result, dict):\n                    result = [result]\n                hist.extend(result)\n            except AttributeError:\n                pass\n        return hist\n'

In [10]:
'''
# This is the part of the code that builds the query
    def _prepare_query(self, table='quotes', key='symbol', **kwargs):
        """
        Simple YQL query bulder
        """
        query = 'select * from yahoo.finance.{table} where {key} = "{symbol}"'.format(
            symbol=self.symbol, table=table, key=key)
        if kwargs:
            query += ''.join(' and {0}="{1}"'.format(k, v)
                             for k, v in kwargs.items())
        return query
'''

'\n# This is the part of the code that builds the query\n    def _prepare_query(self, table=\'quotes\', key=\'symbol\', **kwargs):\n        """\n        Simple YQL query bulder\n        """\n        query = \'select * from yahoo.finance.{table} where {key} = "{symbol}"\'.format(\n            symbol=self.symbol, table=table, key=key)\n        if kwargs:\n            query += \'\'.join(\' and {0}="{1}"\'.format(k, v)\n                             for k, v in kwargs.items())\n        return query\n'

In [11]:
'select * from yaho.finance.historicaldata where symbol = "{}" and startDate = "{}" and endDate = "{}"'.format('YHOO', '2009-09-11', '2010-03-10')

'select * from yaho.finance.historicaldata where symbol = "YHOO" and startDate = "2009-09-11" and endDate = "2010-03-10"'

In [12]:
def myreq(ticker, start, end):
    '''
    input ticker & dates as strings form 'YYYY-MM-DD'
    '''
    params = {'format':'json',
             'env':DATATABLES_URL}
    query = 'select * from yahoo.finance.historicaldata where symbol = "{}" and startDate = "{}" and endDate = "{}"'.format(ticker,start, end)
    params.update({'q':query})
    req = requests.get(PUBLIC_API_URL, params=params)
    req.raise_for_status()
    req = req.json()
    if req['query']['count'] > 0:
        result = req['query']['results']['quote']
        return result
    else:
        pass

In [13]:
years = [2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016]

In [14]:
y = years[3]

In [48]:
yreq = myreq('PIH','{}-01-01'.format(y),'{}-12-31'.format(y))
yreq is None

True

In [42]:
csv = pd.read_csv('./companylist.csv')
# We want to keep "Finance, Health Care, Technology, Energy"
newcsv = csv[csv["Sector"].isin(["Finance", "Energy","Health Care","Technology"])].reset_index()
del newcsv["index"]
whole_list = newcsv['Symbol']
# whole_list

In [51]:
#NEW price function
def price2(ticker):
    date=[]
    price=[]
    report = []
    
    years = [2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016]
    for x in range(len(years)):
        c = myreq(ticker,'{}-01-01'.format(years[x]),'{}-12-31'.format(years[x]))
        try:
        
            for i in range(0,len(c)):
                date.append(pd.to_datetime(c[i]["Date"]))
                price.append(float(c[i][u'Close']))
                datef = pd.DataFrame(date)
                pricef = pd.DataFrame(price)
                table1 = pd.concat([datef,pricef],axis = 1)
                table1.columns = ['Date', ticker]
                table1 = table1.set_index("Date")
            
        except Exception:
            table1 = pd.DataFrame()
    
    return table1

In [54]:
#del df
for l in range(10,20):
    print whole_list[l]
    get = price2(whole_list[l])
    try:
        df = pd.concat([df,get],axis = 1)    # concat. by column 
    except NameError:
        df = pd.DataFrame(get)    # initialize automatically
df.shape
df

AXAS
ACIU
ACIA
ACHC
ACAD
ACST
XLRN
ANCX
ARAY
ACRX

,PIH,FCCY,SRCE,VNET,TWOU,JOBS,ABEO,ABIL,ABMD,AXAS,ACIU,ACIA,ACHC,ACAD,ACST,XLRN,ANCX,ARAY,ACRX
Date,,,,,,,,,,,,,,,,,,,
2006-01-03,NaN,21.499973,25.830002,NaN,NaN,14.950000,0.51,NaN,9.350000,5.55,NaN,NaN,2.050000,9.990000,NaN,NaN,14.940000,NaN,NaN
2006-01-04,NaN,21.499973,25.659998,NaN,NaN,14.790000,0.47,NaN,9.620000,5.55,NaN,NaN,2.060000,9.970000,NaN,NaN,14.610000,NaN,NaN
2006-01-05,NaN,20.999980,25.820004,NaN,NaN,16.150000,0.46,NaN,9.550000,5.81,NaN,NaN,2.100000,10.010000,NaN,NaN,14.520000,NaN,NaN
2006-01-06,NaN,20.519969,25.950002,NaN,NaN,17.080000,0.45,NaN,9.750000,5.95,NaN,NaN,2.180000,10.460000,NaN,NaN,13.470000,NaN,NaN
2006-01-09,NaN,20.249976,25.999997,NaN,NaN,17.900000,0.43,NaN,10.150000,5.55,NaN,NaN,2.200000,10.690000,NaN,NaN,11.300000,NaN,NaN
2006-01-10,NaN,19.999980,25.999997,NaN,NaN,17.860001,0.46,NaN,10.210000,5.69,NaN,NaN,2.280000,10.990000,NaN,NaN,11.250000,NaN,NaN
2006-01-11,NaN,20.369968,25.999997,NaN,NaN,17.950001,0.50,NaN,10.550000,5.50,NaN,NaN,2.280000,10.800000,NaN,NaN,10.400000,NaN,NaN
2006-01-12,NaN,20.000001,25.940002,NaN,NaN,17.480000,0.48,NaN,10.710000,5.46,NaN,NaN,2.310000,10.710000,NaN,NaN,10.570000,NaN,NaN
2006-01-13,NaN,20.779999,25.989997,NaN,NaN,17.809999,0.44,NaN,10.270000,5.42,NaN,NaN,2.260000,10.710000,NaN,NaN,10.550000,NaN,NaN
2006-01-17,NaN,20.160010,25.910006,NaN,NaN,18.309999,0.43,NaN,9.900000,6.18,NaN,NaN,2.200000,10.740000,NaN,NaN,10.250000,NaN,NaN
2006-01-18,NaN,19.190004,26.070001,NaN,NaN,18.010000,0.41,NaN,10.360000,6.30,NaN,NaN,2.250000,10.770000,NaN,NaN,10.200000,NaN,NaN
2006-01-19,NaN,19.829997,26.420000,NaN,NaN,18.059999,0.43,NaN,10.300000,6.56,NaN,NaN,2.330000,10.860000,NaN,NaN,11.090000,NaN,NaN
2006-01-20,NaN,19.979997,26.229995,NaN,NaN,17.719999,0.41,NaN,10.160000,6.45,NaN,NaN,2.400000,10.390000,NaN,NaN,10.790000,NaN,NaN
2006-01-23,NaN,19.340004,26.309999,NaN,NaN,17.879999,0.40,NaN,10.290000,6.45,NaN,NaN,2.300000,9.930000,NaN,NaN,10.350000,NaN,NaN
2006-01-24,NaN,18.750000,26.600002,NaN,NaN,17.540001,0.42,NaN,10.650000,6.67,NaN,NaN,2.280000,10.090000,NaN,NaN,10.820000,NaN,NaN
2006-01-25,NaN,18.750000,26.529998,NaN,NaN,16.900000,0.41,NaN,10.590000,6.44,NaN,NaN,2.290000,10.910000,NaN,NaN,10.990000,NaN,NaN
2006-01-26,NaN,18.750000,26.600002,NaN,NaN,17.320000,0.40,NaN,10.900000,6.45,NaN,NaN,2.300000,10.550000,NaN,NaN,11.540000,NaN,NaN
2006-01-27,NaN,18.999994,26.600002,NaN,NaN,16.820000,0.42,NaN,10.860000,6.45,NaN,NaN,2.280000,10.240000,NaN,NaN,11.500000,NaN,NaN
2006-01-30,NaN,18.999994,25.999997,NaN,NaN,16.500000,0.40,NaN,10.950000,7.00,NaN,NaN,2.200000,10.290000,NaN,NaN,11.250000,NaN,NaN
2006-01-31,NaN,18.499991,26.429997,NaN,NaN,16.590000,0.39,NaN,10.950000,6.97,NaN,NaN,2.200000,13.050000,NaN,NaN,11.150000,NaN,NaN
2006-02-01,NaN,18.499991,26.739999,NaN,NaN,17.600000,0.30,NaN,11.160000,6.83,NaN,NaN,2.200000,14.450000,NaN,NaN,11.300000,NaN,NaN
2006-02-02,NaN,18.530006,26.390001,NaN,NaN,18.590000,0.22,NaN,11.200000,6.60,NaN,NaN,2.120000,15.400000,NaN,NaN,11.260000,NaN,NaN
2006-02-03,NaN,18.990000,27.150002,NaN,NaN,18.100000,0.24,NaN,10.970000,6.67,NaN,NaN,2.220000,14.330000,NaN,NaN,11.250000,NaN,NaN
2006-02-06,NaN,18.510000,26.710003,NaN,NaN,17.160000,0.22,NaN,10.870000,7.25,NaN,NaN,2.110000,13.810000,NaN,NaN,10.880000,NaN,NaN
2006-02-07,NaN,19.349998,25.910006,NaN,NaN,17.209999,0.21,NaN,10.340000,6.81,NaN,NaN,2.160000,13.570000,NaN,NaN,10.270000,NaN,NaN
2006-02-08,NaN,19.079999,26.380002,NaN,NaN,16.820000,0.24,NaN,10.350000,6.68,NaN,NaN,2.110000,13.760000,NaN,NaN,10.500000,NaN,NaN
2006-02-09,NaN,19.079999,26.739999,NaN,NaN,17.120001,0.20,NaN,10.130000,6.58,NaN,NaN,2.160000,14.010000,NaN,NaN,11.060000,NaN,NaN
2006-02-10,NaN,18.849995,27.250003,NaN,NaN,16.680000,0.23,NaN,9.820000,6.30,NaN,NaN,2.150000,14.490000,NaN,NaN,10.950000,NaN,NaN
2006-02-13,NaN,18.450001,26.410000,NaN,NaN,16.780001,0.22,NaN,9.920000,6.05,NaN,NaN,2.210000,14.720000,NaN,NaN,11.340000,NaN,NaN
2006-02-14,NaN,18.520011,26.420000,NaN,NaN,17.000000,0.22,NaN,10.060000,6.05,NaN,NaN,1.950000,15.430000,NaN,NaN,11.280000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-17,7.450,13.700000,39.509998,7.51,35.900002,34.000000,7.25,2.930,113.599998,1.79,16.110001,74.129997,38.340000,29.100000,1.32,38.150002,26.690001,5.25,3.10
2016-11-18,7.350,13.700000,39.540001,7.51,36.130001,34.169998,7.25,2.990,113.410004,1.84,15.300000,74.889999,38.580002,29.530001,1.31,37.959999,26.940001,5.30,3.15
2016-11-21,7.650,14.150000,38.580002,7.59,36.419998,34.540001,7.25,3.330,115.809998,1.93,14.080000,73.239998,38.709999,28.629999,1.31,37.849998,27.219999,5.30,3.10
2016-11-22,7.650,14.850000,39.450001,7.60,35.990002,34.169998,6.95,3.400,111.019997,1.93,13.700000,77.419998,38.290001,26.719999,1.31,37.090000,27.950001,5.20,3.15
2016-11-23,7.700,15.150000,39.590000,7.71,35.750000,34.590000,7.00,3.260,112.849998,1.93,11.530000,74.910004,37.970001,28.219999,1.22,38.389999,27.950001,5.25,3.15
2016-11-25,7.750,15.650000,39.509998,7.71,35.369999,35.049999,7.05,3.480,113.669998,2.00,12.610000,78.019997,38.130001,28.040001,1.24,37.980000,27.980000,5.30,3.05
2016-11-28,7.750,15.850000,38.880001,7.62,35.549999,35.590000,6.90,3.390,112.220001,1.90,12.130000,72.930000,37.580002,27.330000,1.38,36.430000,27.370001,5.15,3.00
2016-11-29,7.500,15.900000,39.299999,7.82,35.349998,35.009998,6.55,3.560,112.089996,1.85,11.860000,70.669998,38.020000,27.650000,1.80,36.520000,27.129999,5.15,3.00
2016-11-30,7.300,15.900000,39.360001,7.85,33.060001,35.369999,6.25,3.560,112.239998,2.10,11.590000,69.260002,38.009998,26.990000,1.40,33.689999,27.370001,5.05,3.10
2016-12-01,7.375,16.200001,39.570000,7.42,31.870001,35.400002,6.20,3.310,107.389999,2.16,11.580000,65.370003,38.080002,26.480000,1.37,35.040001,27.650000,4.95,2.85
2016-12-02,7.450,15.750000,39.360001,7.57,31.160000,35.340000,6.20,3.210,108.870003,2.14,11.500000,66.410004,37.919998,27.150000,1.34,36.290001,27.660000,4.95,2.75
2016-12-05,7.500,16.100000,40.180000,7.62,32.150002,34.860001,5.90,3.450,109.949997,2.13,11.930000,69.059998,38.790001,27.790001,1.39,34.900002,28.299999,4.95,2.90
2016-12-06,7.250,16.299999,40.869999,7.69,33.060001,34.720001,5.90,3.310,112.940002,2.16,11.990000,70.139999,38.279999,28.250000,1.37,33.980000,28.170000,5.05,2.90
2016-12-07,7.550,17.000000,41.189999,7.70,32.520000,34.570000,5.95,3.439,116.650002,2.09,11.650000,72.580002,36.189999,27.080000,1.36,30.959999,28.379999,5.05,3.05
2016-12-08,7.550,17.150000,42.380001,8.04,32.900002,34.470001,5.80,3.270,118.080002,2.25,12.050000,69.879997,37.250000,27.240000,1.32,31.480000,28.559999,5.20,3.15
2016-12-09,7.650,17.600000,43.340000,8.47,32.680000,34.490002,5.15,3.320,116.919998,2.29,14.930000,66.889999,36.840000,26.760000,1.27,29.700001,28.670000,5.25,3.25
2016-12-12,7.600,16.950001,43.689999,8.08,32.090000,34.410000,4.45,3.259,119.059998,2.40,12.870000,67.440002,35.880001,25.280001,1.30,28.500000,28.469999,5.20,2.95
2016-12-13,7.800,16.950001,44.000000,8.05,32.400002,34.540001,4.90,3.090,118.660004,2.42,13.360000,65.589996,34.599998,24.870001,1.27,29.570000,28.549999,5.15,3.00
2016-12-14,7.500,16.799999,43.790001,7.59,31.990000,32.900002,4.85,3.080,119.199997,2.34,13.610000,65.430000,33.310001,24.940001,1.17,28.850000,28.090000,4.90,2.85
2016-12-15,7.450,16.850000,44.180000,7.21,31.990000,32.630001,4.70,2.920,118.669998,2.43,13.550000,67.120003,34.500000,26.010000,1.20,29.080000,28.280001,5.00,2.75
2016-12-16,7.700,16.850000,43.740002,7.33,32.029999,32.990002,4.50,3.000,117.540001,2.52,14.320000,66.379997,35.160000,25.980000,1.13,29.660000,28.200001,5.05,2.85
2016-12-19,7.700,17.250000,44.189999,7.32,32.669998,32.450001,4.65,2.900,116.769997,2.55,14.530000,66.639999,34.869999,25.430000,1.17,28.799999,28.100000,4.85,2.80
2016-12-20,7.601,17.549999,45.000000,7.32,33.049999,32.380001,4.45,2.770,113.099998,2.57,14.330000,66.949997,33.860001,28.570000,1.17,28.150000,28.200001,4.65,2.85
2016-12-21,7.583,17.350000,44.439999,7.10,32.099998,32.820000,4.25,2.740,113.559998,2.63,12.850000,65.949997,33.919998,27.459999,1.23,27.490000,28.430000,4.75,2.75
2016-12-22,7.400,17.280001,44.400002,6.99,30.740000,33.139999,4.65,2.600,111.550003,2.62,12.560000,65.620003,34.750000,27.670000,1.16,26.260000,28.410000,4.75,2.80
2016-12-23,7.650,17.350000,44.200001,7.05,30.809999,33.169998,4.80,2.640,112.379997,2.61,13.230000,65.690002,34.680000,29.750000,1.33,27.320000,28.530001,4.60,2.85
2016-12-27,7.400,18.100000,44.740002,7.15,30.549999,33.430000,5.20,2.800,113.739998,2.65,13.520000,67.190002,33.959999,28.950001,1.48,26.639999,28.510000,4.60,2.85
2016-12-28,7.400,18.250000,44.700001,7.09,30.340000,33.650002,5.10,2.800,112.779999,2.64,12.700000,65.900002,33.480000,28.520000,1.35,25.770000,28.299999,4.60,2.80
2016-12-29,7.250,18.000000,45.330002,6.96,29.770000,33.700001,4.90,2.720,113.580002,2.64,12.540000,63.160000,33.610001,28.790001,1.38,25.629999,28.040001,4.70,2.70
2016-12-30,7.800,18.700001,44.660000,7.01,30.150000,33.799999,4.85,2.770,112.680000,2.57,12.980000,61.750000,33.099998,28.840000,1.25,25.520000,27.760000,4.60,2.60